.navbar{
    display: flex;
    justify-content: space-between;   
    align-items: center;
}
.menu_items{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* text-decoration: none; */
    list-style-type: none
}
.menu{
    width: 50%;
}
.imge1{
    height: 18vh;
}
.menu-list{
    font-size: 5vh;
}
.logo{
    max-width: 20vw;
    margin-top: 1vh;
}
.navbar{
    max-height: 15vh;
}