input {
  border-style: hidden;
}

.button{
  border-radius: 20%;
  background-color: black;
  color: white;
  padding: 0.5vh 2vw 0.5vh 2vw;
  cursor: pointer;
  font-family: 'Open Sans';
  margin-top: 1vh;
  font-weight: 600;
  margin-left: 12vh;
  margin-bottom: 2%;
}

.frm_lbl{
  position: relative;
  left: 5%;
}
/* .no-outline:focus {
  outline: none;
} */