* {
    margin : 0;
    padding: 0;
}


.main-text {
    position: absolute;
    color: azure;
    left: 10%;
    top: 22%
}

h1{
    text-align: center;
}

.t-text {
   position: absolute;
   color: azure;
   width: 30%;
   top : 32%;
   left : 12%
}

p {
    color: azure;
    text-align: center;
    font-weight: normal;
}

.btn1{
    position: absolute;
    top: 50%;
    left: 15% ;
    padding : 15px 30px;
    background-color: rgb(100, 162, 219);
    border-radius: 12px;
}

.btn2{
    position: absolute;
    top: 64%;
    left: 16.7%;
    padding : 15px 30px;
    background-color: rgb(100, 162, 219);
    border-radius: 12px;
}

.or{
    position: absolute;
    color: azure;
    width: 30%;
    top : 59%;
    left : 10%
}

.last-t{
    position: absolute;
    top:77%;
    left: 11.3%;
    color: azure;
}

